<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><%= @post.body %></p>
        <div class="clearfix text-center">
          <% if policy(@post).edit? %>
            <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
          <% end %>
          <% if policy(@post).destroy? %>
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</article>



